.footer
  .footer__contents
    .footerContent
      .footerContent__head
        FURIMAについて
      %ul.footerContent__lists
        %li.footerContent__lists--item
          = link_to'#',class:'footerItemText' do
            会社概要（運営会社）
        %li.footerContent__lists--item
          = link_to'#',class:'footerItemText' do
            プライバシーポリシー
        %li.footerContent__lists--item
          = link_to'#',class:'footerItemText' do
            FURIMA利用規約
        %li.footerContent__lists--item
          = link_to'#',class:'footerItemText' do
            ポイントに関する特約
    .footerContent
      .footerContent__head
        FURIMAを見る
      .footerContent__lists
        .footerContent__lists--item
          = link_to'#',class:'footerItemText' do
            カテゴリー一覧
        .footerContent__lists--item
          = link_to'#',class:'footerItemText' do
            ブランド一覧
    .footerContent
      .footerContent__head
        ヘルプ＆ガイド
      .footerContent__lists
        .footerContent__lists--item
          = link_to'#',class:'footerItemText' do
            FURIMAガイド
        .footerContent__lists--item
          = link_to'#',class:'footerItemText' do
            FURIMAロゴ利用ガイドライン
        .footerContent__lists--item
          = link_to'#',class:'footerItemText' do
            お知らせ
  .footer__logo
    = link_to'#' do
      = image_tag'logo/logo-white.png', :size =>'160x46'
  .footer__text
    © FURIMA
  