.topBody
  = render "header"
  .main
    .mainVisual
      .mainVisual__content
        .mainVisual__content--subtitle
          人生を変えるフリマアプリ
        .mainVisual__content--text
          FURIMAはだれでもかんたんに出品・購入できる
          %br フリマアプリです
        .mainVisual__content--btn
          = link_to'#' do
            = image_tag'doi/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg', class: 'apple-btn'
          = link_to'#' do
            = image_tag'doi/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg', class:'google-btn'
    .introduction
      .second-title
        FURIMAが選ばれる3つの理由
      %ul.lists
        %li.list
          .list__image
            = image_tag 'pict/pict-reason-01.jpg', :size =>'282x282'
            .list__image--num
              1
          .list__text
            %span.emphasis
              3分
            ですぐ出品
          .list__info
            スマホで入力するだけで簡単に出品できる！
        %li.list
          .list__image
            = image_tag 'pict/pict-reason-02.jpg', :size =>'282x282'
            .list__image--num
              2
          .list__text
            %span.emphasis
              シンプル
            で使いやすい
          .list__info
            めんどくさい入力は必要なく、検索も購入もスムーズ！
        %li.list
          .list__image
            = image_tag 'pict/pict-reason-03.jpg', :size =>'282x282'
            .list__image--num
              3
          .list__text
            手数料
            %span.emphasis
              業界最安
          .list__info
            最大3%でお得に出品&amp;購入！

    .middleIntroduction
      .middleIntroduction__box
        .middleIntroduction__box--subtitle
          会員数日本一位
        .middleIntroduction__box--text
          FURIMAは、フリマアプリで最も人気。
          %br 出品・購入回数も業界最多です！
          ほしかったあの商品に出会えるかもしれません。
        .middleIntroduction__box--btn
          = link_to'#' do
            = image_tag'doi/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg', class: 'apple-btn'
          = link_to'#' do
            = image_tag'doi/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg', class:'google-btn'
    .features
      .featHead
        FURIMAの特徴
      .featItems
        .featItems__item
          .featItems__item--image
            = image_tag 'icon/icon-01.png', :size =>'154x237'
          .featItems__item--subtitle
            簡単に売り買いできる
          .featItems__item--info
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        .featItems__item
          .featItems__item--image
            = image_tag 'icon/icon-03.png', :size =>'154x237'
          .featItems__item--subtitle
            売上金は即日振込みに対応
          .featItems__item--info
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        .featItems__item
          .featItems__item--image
            = image_tag 'icon/icon-04.png', :size =>'154x237'
          .featItems__item--subtitle
            様々な支払いに対応
          .featItems__item--info
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
    .pickupContainer
      .pcSubtitle
        ピックアップカテゴリー
      .products
        .products__head
          = link_to '#',class:'products__head--text' do
            新規投稿商品
        %ul.products__lists
          = link_to '#', class: 'product' do
            .product__image
              = image_tag 'doi/sakana.png', :size =>'220x150', class:'product__image--pict'
            .product__info
              .product__info--name
                product1
              .product__info--details
                %ul.detailList
                  %li.detailList__price
                    30000円
                  %ul.detailList__box
                    =icon('fas', 'star',class: 'star-icon')
                    %li.count
                      0
                .tax
                  (税込)
          = link_to '#', class: 'product' do
            .product__image
              = image_tag 'doi/gyouza.png', :size =>'220x150', class:'product__image--pict'
            .product__info
              .product__info--name
                product3
              .product__info--details
                %ul.detailList
                  %li.detailList__price
                    1000000000円
                  %ul.detailList__box
                    =icon('fas', 'star',class: 'star-icon')
                    %li.count
                      0
                .tax
                  (税込)
          = link_to '#', class: 'product' do
            .product__image
              = image_tag 'doi/kareraisu.png', :size =>'220x150', class:'product__image--pict'
            .product__info
              .product__info--name
                product2
              .product__info--details
                %ul.detailList
                  %li.detailList__price
                    １円
                  %ul.detailList__box
                    =icon('fas', 'star',class: 'star-icon')
                    %li.count
                      0
                .tax
                  (税込)
    .pickupContainer
      .pcSubtitle
        ピックアップブランド
      .products
        .products__head
          = link_to '#',class:'products__head--text' do
            アーカイブ
        %ul.products__lists
          = link_to '#', class: 'product' do
            .product__image
              = image_tag 'doi/sakana.png', :size =>'220x150', class:'product__image--pict'
            .product__info
              .product__info--name
                product1
              .product__info--details
                %ul.detailList
                  %li.detailList__price
                    30000円
                  %ul.detailList__box
                    =icon('fas', 'star',class: 'star-icon')
                    %li.count
                      0
                .tax
                  (税込)
          = link_to '#', class: 'product' do
            .product__image
              = image_tag 'doi/gyouza.png', :size =>'220x150', class:'product__image--pict'
            .product__info
              .product__info--name
                product3
              .product__info--details
                %ul.detailList
                  %li.detailList__price
                    1000000000円
                  %ul.detailList__box
                    =icon('fas', 'star',class: 'star-icon')
                    %li.count
                      0
                .tax
                  (税込)
          = link_to '#', class: 'product' do
            .product__image
              = image_tag 'doi/kareraisu.png', :size =>'220x150', class:'product__image--pict'
            .product__info
              .product__info--name
                product2
              .product__info--details
                %ul.detailList
                  %li.detailList__price
                    １円
                  %ul.detailList__box
                    =icon('fas', 'star',class: 'star-icon')
                    %li.count
                      0
                .tax
                  (税込)
  = render "appBanner"
  = render "footer"
  = render "purchaseBtn"