- if current_user
  .itemContentBox
    = form_with url: root_path do |f|
      = f.text_area :name, class: "commentBox"
      .itemContentBox__noticeMessage
        相手のことを考え丁寧なコメントを心がけましょう。
        %br
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .itemContentBox__btnBox
        =icon('fas', 'comment',class: 'comment-icon')
        = f.submit "コメントする",class: "commentbtn"
      .consoleBox
      - if @item.saler.id == current_user.id
        = link_to edit_item_path(@item.id),class:"itemEdit-Purchase__btn"do
          .itemEdit-Purchase         
            編集する
      - if @item.buyer_id == nil
        = link_to before_buy_item_path(@item.id) ,class:"itemEdit-Purchase__btn" do
          .itemEdit-Purchase
            購入する
- else
  