.single-wrapper
  %header.single-header
    = link_to "#" do
      = image_tag "logo/logo.png", size: '185x49', class: "single-header__logo"
  .single-main  
    .single-page
      .single-page__title
        %h2.single-page__title-text
          購入内容の確認
      .single-page__beforeBy
        .buy-item
          .buy-item__info
            = image_tag @image.image.url, size: '80x80', class: "buy-item__info__image"
            .buy-item__info__detail
              %p.buy-item__info__detail-name
                = @item.name 
              %p.buy-item__info__detail-price
                = "￥#{@item.price}（税込）送料込み"
        .buy-contents
          .buy-contemts__price.clearfix
            %span.buy-contents__price--heading
              支払い金額
            %span.buy-contents__price--value
              = "￥#{@item.price}"
          .buy-contents__payment
            .buy-contents__payment--box.clearfix
              %p.buy-contents__payment--heading
                支払い方法
            .buy-contents__payment--card
              - if @card.present?
                %ul.buy-contents__payment--card__list
                  %li
                    = form_with url: card_path(@card.id), method: :delete, local: true, id: 'charge-form' do |f|
                      .buy-contents__payment--card__list--pay-num1
                        = "**** **** **** " + @card_information.last4
                      .buy-contents__payment--card__list--pay-num2
                        - exp_month = @card_information.exp_month.to_s
                        - exp_year = @card_information.exp_year.to_s.slice(2,3)
                        = exp_month + " / " + exp_year
          .buy-contents__userInfo
            %p.buy-contents__userInfo--heading
              配送先
            %p.buy-contents__userInfo--detail
              = "〒#{@address.postal_code}"
              %br
              = @address.prefectures
              = @address.municipalities
              = @address.address
              = @address.building
              %br
              = current_user.family_name
              = current_user.last_name
            = form_tag(action: :pay, method: :post,) do
              %button 
                .buttons 購入する
            

  %footer.single-footer
    %ul.single-footer__policies
      %li< 
        = link_to "プライバシーポリシー", "#"
      %li< 
        = link_to "FURIMA利用規約", "#"
      %li< 
        = link_to "特定商取引に関する表記", "#"
    .single-footer__inc
      = link_to "#" do
        = image_tag "logo/logo-white.png", size: '185x49', class: "single-footer__inc-logo"
      %p.single-footer__inc-text
        %small ©︎ FRIMA.inc


