.wrapper-itemsale

  %header
    = link_to "#" do
      = image_tag "logo/logo.png", size: '185x49', class: "header__logo"


  .wrapper-itemsale

  %header
    = link_to "#" do
      = image_tag "logo/logo.png", size: '185x49', class: "header__logo"


  .sale-form
    -# .contents__title
    -#   商品の情報を入力
    = form_for @item, url: item_path(@item.id) do |f|
      -# 野村さん担当エリア
      .sale-form__upload
        = f.label :image, class: "title" do
          出品画像
          %span
            必須
        %p
          最大5枚までアップロードできます
        .upload-area
          .post__drop__box__container
            .prev-content
              - @item.images.each do |image|
                .preview-box
                  .upper-box
                    = image_tag image.image.url
                  .lower-box
                    .delete-box
                      .delete-btn
                        %span 削除

            .label-content
              = f.label :"images_attributes_#{@item.images.length}_image", class: "label-box", id: "label-box--#{@item.images.length}" do
                %pre.label-box__text-visible
            .hidden-content
              = f.fields_for :images do |i|
                = i.file_field :image, class: "hidden-field-edit"
                = i.check_box:_destroy, class: "hidden-checkbox-edit"
              - @item.images.length.upto(4) do |i|
                %input{name: "item[images_attributes][#{i}][image]", id: "item_images_attributes_#{i}_image", class:"hidden-field", type:"file"}
      .sale-form__information
        = f.label :name, class: "title" do
          商品名
          %span
            必須
        = f.text_field :name, class: "name-form", placeholder: "商品名（必須40文字まで）"

        = f.label :description, class: "title" do
          商品の説明
          %span
            必須
        = f.text_area :description, class: "description-form", placeholder: "商品の説明（必須1000文字以内）　例）2010年頃に1万円で購入したジャケットです。ライトグレイで傷はありません。合わせやすいのでおすすめです。"
      
      .sale-form__details
        %p
          商品の詳細
        .right-box
          .category-box
            = f.label :category_id, class: "title" do
              カテゴリー
              %span
                必須
            = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name
          = f.label :status_id, class: "title" do
            商品の状態
            %span
              必須
          = f.collection_select :status_id, Status.all, :id, :name

      .sale-form__shipping
        %p
          配送について
        .right-box
          = f.label :postage_id, class: "title" do
            配送料の負担
            %span
              必須
          = f.collection_select :postage_id, Postage.all, :id, :name
          = f.label :region_id, class: "title" do
            発送元の地域
            %span
              必須
          = f.collection_select :region_id, Region.all, :id, :name
          = f.label :shipping_date_id, class: "title" do
            発送までの日数
            %span
              必須
          = f.collection_select :shipping_date_id, ShippingDate.all, :id, :name

      .sale-form__price
        %p
          販売価格( 300 ~ 9,999,999 )
        .right-box
          .right-box__upper
            = f.label :price, class: "title" do
              価格
              %span
                必須
            %p¥
            = f.text_field :price, class: "price-form", placeholder: "例）300"
          %p.charge
            販売手数料は10%です。
          -#   %span
          -#     ¥30
          -# %p.profit
          -#   販売利益
          -#   %span
          -#     ¥270

      .sale-form__end
        %p
          禁止されている出品、行為を必ずご確認ください。
          %br
          またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          %br
          また、出品をもちまして加盟店規約に同意したことになります
        = f.submit "更新する", class: "sale-btn"
        = link_to "もどる", :back, class: "back-btn"
        = link_to "削除", item_path(@item.id), method: :delete ,class: "back-btn"

  %footer.single-footer
    %ul.single-footer__policies
      %li<
        = link_to "プライバシーポリシー", "#"
      %li<
        = link_to "FURIMA利用規約", "#"
      %li<
        = link_to "特定商取引に関する表記", "#"
    .single-footer__inc
      = link_to "#" do
        = image_tag "logo/logo-white.png", size: '185x49', class: "single-footer__inc-logo"
      %p.single-footer__inc-text
        %small ©︎ FRIMA.inc


