.wrapper-itemsale

  %header
    = link_to "#" do
      = image_tag "logo/logo.png", size: '185x49', class: "header__logo"


  .sale-form
    -# .contents__title
    -#   商品の情報を入力
    = form_for @item, url: items_path do |f|
      -# 野村さん担当エリア
      .sale-form__upload
        = f.label :image, class: "title" do
          出品画像
          %span
            必須
        %p
          最大5枚までアップロードできます
        .upload-area
          .post__drop__box__container
            .prev-content
            .label-content
              %label{for: "item_images_attributes_0_image", class: "abel-box", id: "label-box--0"}
            .hidden-content
              = f.fields_for :images do |i|
                = i.file_field :image, class: "hidden-field"
                %input{class:"hidden-field", type: "file", name: "item[images_attributes][1][image]", id: "item_images_attributes_1_image" }
                %input{class:"hidden-field", type: "file", name: "item[images_attributes][2][image]", id: "item_images_attributes_2_image" }
                %input{class:"hidden-field", type: "file", name: "item[images_attributes][3][image]", id: "item_images_attributes_3_image" }
                %input{class:"hidden-field", type: "file", name: "item[images_attributes][4][image]", id: "item_images_attributes_4_image" }
      .sale-form__information
        = f.label :name, class: "title" do
          商品名
          %span
            必須
        = f.text_field :name, class: "name-form", placeholder: "商品名（必須40文字まで）"

        = f.label :description, class: "title" do
          商品の説明
          %span
            必須
        = f.text_area :description, class: "description-form", placeholder: "商品の説明（必須1000文字以内）　例）2010年頃に1万円で購入したジャケットです。ライトグレイで傷はありません。合わせやすいのでおすすめです。"
      
      .sale-form__details
        %p
          商品の詳細
        .right-box
          .category-box
            = f.label :category_id, class: "title" do
              カテゴリー
              %span
                必須
            = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name
          = f.label :status_id, class: "title" do
            商品の状態
            %span
              必須
          = f.collection_select :status_id, Status.all, :id, :name

      .sale-form__shipping
        %p
          配送について
        .right-box
          = f.label :postage_id, class: "title" do
            配送料の負担
            %span
              必須
          = f.collection_select :postage_id, Postage.all, :id, :name
          = f.label :region_id, class: "title" do
            発送元の地域
            %span
              必須
          = f.collection_select :region_id, Region.all, :id, :name
          = f.label :shipping_date_id, class: "title" do
            発送までの日数
            %span
              必須
          = f.collection_select :shipping_date_id, ShippingDate.all, :id, :name

      .sale-form__price
        %p
          販売価格( 300 ~ 9,999,999 )
        .right-box
          .right-box__upper
            = f.label :price, class: "title" do
              価格
              %span
                必須
            %p¥
            = f.text_field :price, class: "price-form", placeholder: "例）300"
          %p.charge
            販売手数料は10%です。
          -#   %span
          -#     ¥30
          -# %p.profit
          -#   販売利益
          -#   %span
          -#     ¥270

      .sale-form__end
        %p
          禁止されている出品、行為を必ずご確認ください。
          %br
          またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          %br
          また、出品をもちまして加盟店規約に同意したことになります
        = f.submit "出品する", class: "sale-btn"
        = link_to "もどる", :back, class: "back-btn"

  %footer.single-footer
    %ul.single-footer__policies
      %li<
        = link_to "プライバシーポリシー", "#"
      %li<
        = link_to "FURIMA利用規約", "#"
      %li<
        = link_to "特定商取引に関する表記", "#"
    .single-footer__inc
      = link_to "#" do
        = image_tag "logo/logo-white.png", size: '185x49', class: "single-footer__inc-logo"
      %p.single-footer__inc-text
        %small ©︎ FRIMA.inc




:javascript
  $(document).on('turbolinks:load', function(){
    $(function(){

      function buildHTML(count) {
        var html = `<div class="preview-box" id="preview-box__${count}">
                      <div class="upper-box">
                        <img src="" alt="preview">
                      </div>
                      <div class="lower-box">
                        <div class="update-box">
                          <label class="edit_btn">編集</label>
                        </div>
                        <div class="delete-box" id="delete_btn_${count}">
                          <span>削除</span>
                        </div>
                      </div>
                    </div>`
        return html;
      }
      function setLabel() {
        var prevContent = $('.label-content').prev();
        labelWidth = (620 - $(prevContent).css('width').replace(/[^0-9]/g, ''));
        $('.label-content').css('width', labelWidth);
      }

      $(document).on('change', '.hidden-field', function() {
        setLabel();
        var id = $(this).attr('id').replace(/[^0-9]/g, '');
        $('.label-box').attr({id: `label-box--${id}`,for: `item_images_attributes_${id}_image`});
        var file = this.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function() {
          var image = this.result;
          if ($(`#preview-box__${id}`).length == 0) {
            var count = $('.preview-box').length;
            var html = buildHTML(id);
            var prevContent = $('.label-content').prev();
            $(prevContent).append(html);
          }
          $(`#preview-box__${id} img`).attr('src', `${image}`);
          var count = $('.preview-box').length; 
          if (count == 5) { 
            $('.label-content').hide();
          }

          setLabel();
          if(count < 5){
            $('.label-box').attr({id: `label-box--${count}`,for: `item_images_attributes_${count}_image`});
          } 
        }
      });

      $(document).on('click', '.delete-box', function() {
        var count = $('.preview-box').length;
        setLabel(count);
        var id = $(this).attr('id').replace(/[^0-9]/g, '');
        $(`#preview-box__${id}`).remove();
        console.log("new")
        $(`#item_images_attributes_${id}_image`).val("");
        var count = $('.preview-box').length;
        if (count == 4) {
          $('.label-content').show();
        }
        setLabel(count);

        if(id < 5){
          $('.label-box').attr({id: `label-box--${id}`,for: `item_images_attributes_${id}_image`});
        }
      });
    });
  })

