= render "top/header"
.categoryNav
  %ul.categoryNav__lists
    %li.categoryNav__lists--object
      = link_to '#',class:'objectText' do
        FURIMA
    %li.categoryNav__lists--object
      =icon('fas', 'angle-right',class: 'listsSymbol')
    %li.categoryNav__lists--object
    = link_to '#',class:'objectText' do
      ベビー・キッズ
    %li.categoryNav__lists--object
      =icon('fas', 'angle-right',class: 'listsSymbol')
    %li.categoryNav__lists--object
      = link_to '#',class:'objectText' do
        ベビー服(男女兼用)  ~95cm
    %li.categoryNav__lists--object
      =icon('fas', 'angle-right',class: 'listsSymbol')
    %li.categoryNav__lists--object
      = link_to '#',class:'objectText' do
        アウター
    %li.categoryNav__lists--object
      =icon('fas', 'angle-right',class: 'listsSymbol')
    %li.categoryNav__lists--object
      product3
.itemMain
  .showMain
    .showMain__item
      .topContent
        .showItemBox
          .showItemBox__name
            = @item.name
          - mainimg = @images [0]
          = image_tag mainimg.image.url ,:size => '560x346',class:'mainImage'
          - subimgs = @images.drop(1)
          - subimgs.each do |subimg|
            = image_tag subimg.image.url,:size => '140x87',class:'sideImage'
          .showItemBox__price
            %span.priceText
              =@item.price
              円
            .showItemBox__price--detail
              (税込み)
              %span.postageSelect
                =@item.postage.name
          .itemDetails
            = @item.name
          .itemTable
            %table.itemTable__boby
              %tr.itemTable__boby--link
                %th.itemTableSubject
                  出品者
                %td.itemTableContents
                  = @item.saler.nickname
              %tr.itemTable__boby--link
                %th.itemTableSubject
                  カテゴリー
                %td.itemTableContents
                  = link_to'#' ,class: 'itemTableLinks' do
                    = @item.category.name
              %tr.itemTable__boby--link
                %th.itemTableSubject
                  ブランド
                %td.itemTableContents
              %tr.itemTable__boby--link
                %th.itemTableSubject
                  商品のサイズ
                %td.itemTableContents
              %tr.itemTable__boby--link
                %th.itemTableSubject
                  商品の状態
                %td.itemTableContents
                  = @item.status.name
              %tr.itemTable__boby--link
                %th.itemTableSubject
                  配送料の負担
                %td.itemTableContents
                  送料込み（出品者負担）
              %tr.itemTable__boby--link
                %th.itemTableSubject
                  発送元の地域
                %td.itemTableContents
                  = link_to'#',class: 'itemTableLinks' do
                    = @item.region.name
              %tr.itemTable__boby--link
                %th.itemTableSubject
                  発送日の目安
                %td.itemTableContents
                  = @item.shipping_date.name
          .optionArea
            .optionAreaBox
              %ul.optionAreaBox__left
                %li.optionAreaBox__left--likeBtn
                  =icon('fas', 'star',class: 'star-icon-showItem')
                  お気に入り 0               
              %ul.optionAreaBox__right
                = link_to '#',class:'optionAreaBox__right--Btn' do
                  =icon('fas', 'flag',class: 'flag-icon')
                  不適切な商品の通報
        = render "itemContentBox"          
      %ul.linkBanner
        %li.linkBanner__left
          = link_to '#',class: "pageBtn" do
            <前の商品
        %li.linkBanner__right
          = link_to '#',class: "pageBtn" do
            後ろの商品>
      .relatedItems
        = link_to '#',class:'relatedItems__linksbtn' do
          ベビー・キッズをもっと見る
= render "top/appBanner"
= render "top/footer"
= render "top/purchaseBtn"  
