= render "top/header"
.mypage_wrapper
  = render "users/contents"
  .cards_index
    .credit_info
      クレジットカード情報入力
    .credit_card_number
      .credit_card_number_info
        カード番号
      .credit_card_number_required
        必須
      .credit_card_input_btn
        = form_with(model: @cards, url: "#", class: "#", local: true) do |f|
          = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
      .credit_card_logo
    .credit_card_deadline
      .credit_card_deadline_info
        有効期限
      .credit_card_deadline_required
        必須
      .credit_card_deadline_month_year
        = form_with(model: @cards, url: "#", class: "#", local: true) do |f|
          != sprintf(f.date_select(:expiration_date,with_css_classes:'XXXXX', order:[:month,:year,:day], use_month_numbers:true, discard_day:true, start_year:Time.now.year-2000, end_year:Time.now.year-2000+10, date_separator:'%s'),'月') + '年'
    .card_security
      .card_security_number_info
        セキュリティコード
      .card_security_number_required
        必須
      .card_security_input_btn
        = form_with(model: @cards, url: "#", class: "#", local: true) do |f|
          = text_field_tag "number", "", class: "number", placeholder: "カード背面の4桁もしくは3桁の数字" ,maxlength: "4", type: "text", id: "card_security"
      .card_security_description
        .card_security_description_icon
          %i.fas.fa-question-circle
        .card_security_description_text
          カード裏面の番号とは？
      .card_security_btn
        .card_security_btn_jp
          = submit_tag "追加する", id: "token_submit"
= render "top/footer"